<div class="container">
<div class="title">
  <h1>Drink Therapy</h1>
</div>

<div class="card-container">

  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>

  <div class="new-simple-form">
    <%= simple_form_for [ @cocktail ] do |f| %>
      <%= f.input :name %>
      <%= f.submit "Create Cocktail", class: "btn btn-primary" %>
    <% end %>
  </div>


</div>
